Django==1.6.5
GnuPGInterface==0.3.2
Scrapy==0.24.4
Twisted==14.0.2
argparse==1.2.1
beautifulsoup4==4.4.1
bs4==0.0.1
cffi==0.8.6
cryptography==0.5.4
cssselect==0.9.1
gevent==1.0.1
greenlet==0.4.4
ipython==2.2.0
logilab-astng==0.23.1
logilab-common==0.58.0
lxml==3.4.0
mininet==2.3.0d1
pep8==1.2
pexpect==2.4
pyOpenSSL==0.14
pycparser==2.10
pycurl==7.19.0
pyflakes==0.5.0
pylint==0.25.1
pymssql==1.0.2
python-apt==0.8.8.2
python-ldap==2.4.10
queuelib==1.2.2
requests==2.3.0
scapy==2.2.0
six==1.8.0
unattended-upgrades==0.1
virtualenv==1.11.6
virtualenvwrapper==3.4
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
