{% extends "base.html" %}

{% block content %}
<style>

.range-affinity {
	height: 30px;
}

#news-col{
	margin: 7px 10px;
	text-align: center;
	top: 58px;
	right: 20px;
	width: 25%;
	position: fixed!important
}

@media (max-width: 600px){
	
	.news-truncate {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#news-col {
		top: inherit;
		z-index: 1;
		width: 100%;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px;
	}
}

</style>

<div class="container">

	<div class="row">
		<div style="margin-top:10px;" class="col s12">
			<h6 class="center grey-text text-darken-3"><b>최근 둘의 정치적 친밀도를 평가해주세요</b></h6>			
		</div>
	</div>

	<div class="row">
	{% for p in rp_list %}
		{% if forloop.counter == 1 %}<div class="col m3 offset-m3 s4 offset-s2">
		{% else %}<div class="col m3 s4">{% endif %}
			<div id="{{p.pid}}" class="card">
				<div class="card-image">
					<img class="p-img" src="{{p.photo}}">
				</div>
				<div class="center card-content">
					{{p.name}}
				</div>			
			</div>
		</div>
	{% endfor %}
		<div class="col m6 offset-m3 s12">
			<div class="grey-text">
				<span class="left">안 친함</span>
				<span class="right">친함</span>
			</div>
    		<p class="range-field">
      			<input type="range" class="range-affinity" min="-5" max="5" />
    		</p>
		</div>
		<div class="col s12 center">	
			<a class="center waves-effect waves-light btn affinity-score-btn">친밀도 <span id="affinity-score">0</span>점</a>
			<a class="center waves-effect waves-light btn grey lighten-1 donot-know">모르겠음</a>
		</div>
	</div>
	

</div>

<ul id="news-col" class="collection with-header">
	<li class="collection-header hide-on-small-only"><i class="material-icons">touch_app</i><b>같이 나온 뉴스</b></li>
	{% for news in news_list %}
	<a href="#!" id="news-{{forloop.counter}}" class="collection-item news-truncate grey-text text-darken-2">
		{{news.title|safe}}
	</a>
	{% endfor %}
	<a onclick="alert('아직 구현 안했는데, 이게 필요할까요?')" href="#!" style="padding:0px;" class="collection-item hide-on-small-only"><i class="material-icons">expand_more</i></a>
</ul>

<form id="log-submit" method="POST">
	{% csrf_token %}
	<input id="inp-shown" type="hidden" name="shown_p" value="tbd">
	<input id="inp-affinity-score" type="hidden" name="affinity_score" value="tbd">
</form>

<script>

function get_sgn_num_str(num){
	var sgn = "";
	if(num < 0){
		sgn = "-";
	} else if (num >0){
		sgn = "+";
	}
	return sgn+Math.abs(num);
}

function set_affinity_score(val){
	var g_color = ["#a5d6a7", "#81c784", "#66bb6a", "#4caf50", "#43a047"];
	var r_color = ["#ef9a9a", "#e57373", "#ef5350", "#f44336", "#e53935"];
	var its_color = "#bdbdbd";
	if(val > 0){
		its_color = g_color[val-1];
	} else if (val < 0){
		its_color = r_color[Math.abs(val)-1];
	}
	
	$(".affinity-score-btn").css("background-color", its_color);
	$("#affinity-score").text(get_sgn_num_str(val));
	$("#inp-affinity-score").attr("value", val);
}

var shown_list = [];
$(document).ready(function(){
	if("{{nos}}" == "7"){
		alert("충분히 많이 하셨습니다. 하지만 더 하셔도 됩니다! 이 메세지 이후로는 끝이 없다는 것을 유념해주세요")
	}
	set_affinity_score(0);	
	{% for p in rp_list %}
	shown_list.push({{p.pid}});
	{% endfor %}
	
	$("#inp-shown").attr("value", shown_list.join(","));
});

$(document).on('click', '#toast-container .toast', function() {
    $(this).fadeOut(function(){
        $(this).remove();
    });
});

{% for news in news_list %}
$("#news-{{forloop.counter}}").click(function(){
	var des_str = "<p>{{news.title|safe}}<br/><br/>{{news.description|safe}}<br/><span class='right'>{{news.pub_date}}</span></p>";
	des_str = des_str.replace(/<b>/gi, '<b class="yellow-text">');
	var $description = $(des_str);
	Materialize.toast($description, 5000);
});
{% endfor %}

$(".range-affinity").change(function(){
	set_affinity_score($(this).val());
});

$(".btn").click(function(){
	if($(this).hasClass("disabled") == false){
		if($(this).hasClass("affinity-score-btn")){
			$("#log-submit").submit();
		} else if ($(this).hasClass("donot-know")){
			$("#inp-affinity-score").attr("value", "donot-know");
			$("#log-submit").submit();
		}
	}
	$(".btn").addClass("disabled");	
});


</script>
{% endblock %}
