{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css" />

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<style type="text/css">
.network {
	width: 100%;
	height: 200px;
	border: 1px solid lightgray;
}

.graph {
	width: 100%;
	height: 200px;
	border: 1px solid lightgray;
}

p.collection-header{
	margin: 0px;
}

.graph-col {
	margin-top: 20px;
}

.mobile-col {
	writing-mode: tb-rl;
	margin: 0px;
}

@media (max-width: 600px) {
	.collection.with-header{
		margin-bottom: 0px;
	}
}

#placeholder-block {
	margin-top: 20px;
    margin-bottom: 0px;
}

.not-first-row {
	margin-top:40px;
}

.t-all{
	background-color: #F2F2F2;
}

.svg-icon.github {
		background-image: url(https://assets-cdn.github.com/favicon.ico);
}
.svg-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
}

</style>

<div class="container">
	
	<div class="row">
		
		<div class="col m4 s5">
			<div class="graph-col">
				<ul class="collection with-header">
					<li class="collection-header center">
						<strong>1st Experiment</strong><br>
					</li>
					<li class="collection-item">
						participant<span class="badge">{{fep_n_person}}</span>
					</li>
					<li class="collection-item">
						submit<span class="badge">{{fep_n_submit}}</span>
					</li>
				</ul>	
				<div id="fep-network" class="network z-depth-1 hide-on-small-only"></div>
			</div>
		</div>

		<div class="col m4 s5">
			<div class="graph-col">
				<ul class="collection with-header">
					<li class="collection-header center">
						<strong>2nd Experiment</strong><br>
					</li>
					<li class="collection-item">
						participant<span class="badge">{{sep_n_person}}</span>
					</li>
					<li class="collection-item">
						submit<span class="badge">{{sep_n_submit}}</span>
					</li>
				</ul>
				<div id="sep-network" class="network z-depth-1 hide-on-small-only"></div>
			</div>
		</div>

		<div class="col m4 s2">
			<div id="placeholder-block" class="card-panel blue lighten-4 hide-on-small-only">
				<span class="grey-text text-darken-3">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
				</span>
			</div>
		</div>

	</div>

	<div class="row">
		
		<div class="col m4 s5">
			<div id="fep-v-graph" class="graph z-depth-1"></div>
		</div>
	
		<div class="col m4 s5">
			<div id="sep-v-graph" class="graph z-depth-1"></div>
		</div>

		<div class="col m4 hide-on-small-only">
			<div class="tooltipped" data-position="top" data-delay="50"
				data-tooltip="19th Assembly Vote Result">
				<div id="v-network" class="ref-network network z-depth-1"></div>
			</div>
		</div>
		<div class="col m4 s2 hide-on-med-and-up">
			<ul class="mobile-col collection">
				<li class="center">19th Assembly Vote Result</li>
			</ul>
		</div>
	</div>

	<div class="row">
		
		<div class="col m4 s5">
			<div id="fep-lwj-graph" class="graph z-depth-1"></div>
		</div>
	
		<div class="col m4 s5">
			<div id="sep-lwj-graph" class="graph z-depth-1"></div>
		</div>

		<div class="col m4 hide-on-small-only">
			<div class="tooltipped" data-position="top" data-delay="50"
				data-tooltip="20th Assembly's Features (By Prof Lee)">
				<div id="lwj-network" class="ref-network network z-depth-1"></div>
			</div>
		</div>
		<div class="col m4 s2 hide-on-med-and-up">
			<ul class="mobile-col collection">
				<li class="center">20th Assembly Features</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		
		<div class="col m4 s5">
			<div id="fep-cb-graph" class="graph z-depth-1"></div>
		</div>
	
		<div class="col m4 s5">
			<div id="sep-cb-graph" class="graph z-depth-1"></div>
		</div>

		<div class="col m4 hide-on-small-only">
			<div class="tooltipped" data-position="top" data-delay="50"
				data-tooltip="20th Assembly Cosponsorship">
				<div id="cb-network" class="ref-network network z-depth-1"></div>
			</div>
		</div>
		<div class="col m4 s2 hide-on-med-and-up">
			<ul class="mobile-col collection">
				<li class="center">20th Assembly Cosponsorship</li>
			</ul>
		</div>
	</div>
	
	<div class="row not-first-row">
		<p class="center">
			<b>Correlation Coefficient by X-domain(all, neg, pos)</b>
		</p>
		<table class="highlight centered">
		<thead>
			<tr>
				<th class="t-all">all</th>
				<th>neg(-)</th>
				<th>pos(+)</th>
				<th class="t-all">all</th>
				<th>neg(-)</th>
				<th>pos(+)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="correl-fep-all-v t-all"></td>
				<td class="correl-fep-neg-v"></td>
				<td class="correl-fep-pos-v"></td>
				<td class="correl-sep-all-v t-all"></td>
				<td class="correl-sep-neg-v"></td>
				<td class="correl-sep-pos-v"></td>
			</tr>
			<tr>
				<td class="correl-fep-all-lwj t-all"></td>
				<td class="correl-fep-neg-lwj"></td>
				<td class="correl-fep-pos-lwj"></td>
				<td class="correl-sep-all-lwj t-all"></td>
				<td class="correl-sep-neg-lwj"></td>
				<td class="correl-sep-pos-lwj"></td>
			</tr>
			<tr>
				<td class="correl-fep-all-cb t-all"></td>
				<td class="correl-fep-neg-cb"></td>
				<td class="correl-fep-pos-cb"></td>
				<td class="correl-sep-all-cb t-all"></td>
				<td class="correl-sep-neg-cb"></td>
				<td class="correl-sep-pos-cb"></td>
			</tr>
		</tbody>
		</table>
	</div>

	<div class="row not-first-row">
		<table class="highlight centered">
		<thead>
			<tr>
				<th>Source</th>
				<th>Metric</th>
				<th>Data Manipulation</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="http://read-data.codenamu.org/congress-report">Codenamu</a></td>
				<td>1/(1+Euclid_distance(v1, v2))</td>
				<td>μ - 1σ ~ end</td>
			</tr>
			<tr>
				<td><a href="http://143.248.156.240/~totoro1865/visualization/DongA/All/#information">Prof Lee wonjae</a></td>
				<td>Index from <a href="https://www.facebook.com/wnjlee/posts/10153739385841272">13 features</a></td>
				<td>-</td>
			</tr>
			<tr>
				<td><a href="http://watch.peoplepower21.org/">PSPD</a></td>
				<td>Jaccard Index</td>
				<td>μ - 1σ ~ end</td>
			</tr>
		</tbody>
		</table>
	</div>

	<div style="margin-top:50px;" class="row center">
		<a href="https://github.com/todoaskit/prexp-priendship"><i class="svg-icon github"></i></a>
	</div>
</div>
		
			
<!-- fixed buttons -->
<div class="fixed-action-btn" style="bottom: 24px; left: 24px; right: initial;">
	<a href="/" class="btn-floating btn-large waves-effect waves-light">
		<i class="material-icons">home</i>
	</a>
</div>
<div class="fixed-action-btn horizontal" style="bottom: 24px; right: 24px;">
	<a class="btn-floating btn-large teal">
		<i class="large material-icons">timeline</i>
	</a>
	<ul>
		<li>
			<a id="green-btn" class="green waves-effect waves-light btn btn-floating rel-btn"></a>
		</li>
		<li>
			<a id="red-btn" class="red waves-effect waves-light btn btn-floating rel-btn"></a>
		</li>
		<li>
			<a id="grey-btn" class="grey waves-effect waves-light btn btn-floating rel-btn"></a>
		</li>
	</ul>
</div>

<script>

function draw_network(container_id, raw_nodes, raw_edges, color_option){
	var container = document.getElementById(container_id);
	var edges = [];
	for(var idx = 0; idx < raw_edges.length; idx++){
		if(color_option == "green-btn"){
			if(raw_edges[idx]["color"]["color"] == "green"){
				edges.push(raw_edges[idx]);
			}
		} else if (color_option == "red-btn"){
			if(raw_edges[idx]["color"]["color"] == "red"){
				edges.push(raw_edges[idx]);
			}
		} else {
			edges = raw_edges;
		}
	}
	var nodes = new vis.DataSet(raw_nodes);
	var edges = new vis.DataSet(edges);

	var data = {
		nodes: nodes,
		edges: edges
	};
	var options = {};
	var network = new vis.Network(container, data, options);
	network.on("selectNode", function(params){
		focus_on_node_of_all(params["nodes"]);
	});
	return network;
}

function draw_all_network(){
	$network = $(".network");
	$network.map(function(){
		$nid = $(this).attr("id");
		var nobj = draw_network($nid, n_list[$nid]["nodes"], n_list[$nid]["edges"], "grey-btn");
		nobj_list[$nid] = nobj;
	});
}


function make_square(){
	var width = $(".network").width()
	$(".network").height(width);
	$(".graph").height(width)
	$(".mobile-col").height(width)
}

function resize_placeholder(){
	$pb = $("#placeholder-block");
	$pb.css("height", $(".graph-col:first").height());
}

function focus_on_node(network, node_id){
	var options = {
		scale: 1,
		offset: {x:0,y:0},
		animation: {
			duration: 500,
			easingFunction: "easeInOutQuad"
		}
	};

	network.focus(node_id, options);
	network.selectNodes([node_id]);
}

function focus_on_node_of_all(node_id){
	$network = $(".network");
	var nid_list = $network.map(function(){
		$nid =  $(this).attr("id");
		if(is_node_exist($nid, node_id)){
			focus_on_node(nobj_list[$nid], node_id);
		} else {
			nobj_list[$nid].fit();
			nobj_list[$nid].unselectAll();
		}
	});
}

function is_node_exist(netw_id, node_id){
	nodes = n_list[netw_id]["nodes"];
	for(var idx = 0; idx < nodes.length; idx++){
		if(nodes[idx]["id"] == node_id){
			return true;
		}
	}
	return false;
}

function draw_graph(gid, x_arr, y_arr, p_arr){
	x_arr = standardize(x_arr);
	y_arr = standardize(y_arr);
	
	data = [];
	for(var idx = 0; idx < x_arr.length; idx++){
		data.push([x_arr[idx], y_arr[idx]]);
	}
	$("#"+gid).highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
		title: {
			text: null
		},
        xAxis: {
            title: {
                enabled: false,
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
            	enabled: false
			}
        },
        legend: {
			enabled: false
		},
		exporting: {
			buttons: {
				contextButton: {
					enabled: false
				}
			}
		},
		plotOptions: {
            scatter: {
                marker: {
                    radius: 3,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
					headerFormat: "",
					pointFormatter: function(){
						var match_idx = -1;
						for(var idx = 0; idx < y_arr.length; idx++){
							if(y_arr[idx] == this.y && x_arr[idx] == this.x){
								match_idx = idx
							}
						}
						return p_arr[match_idx]
					}
				}
            }
        },
		series: [{
			color: 'rgba(100, 181, 246, .5)',
			data: data,
		}]
	});
}

function draw_all_graph(){
	$graph = $(".graph");
	$graph.map(function(){
		$gid = $(this).attr("id");
		var exp_id = $gid.split("-")[0];
		var ref_id = $gid.split("-")[1];
		
		var xyp_arr = w_hash[exp_id][ref_id];
		var x_arr = xyp_arr[0];
		var y_arr = xyp_arr[1];
		var p_arr = xyp_arr[2];
		draw_graph($gid, x_arr, y_arr, p_arr);
		p_xy = get_graph_of_domain(x_arr, y_arr, "+");
		n_xy = get_graph_of_domain(x_arr, y_arr, "-");
		set_correlation($gid, x_arr, y_arr);
	});
	remove_hc_label();
}

function set_correlation(gid, x_arr, y_arr){
	p_xy = get_graph_of_domain(x_arr, y_arr, "+");
	n_xy = get_graph_of_domain(x_arr, y_arr, "-");
	var col = gid.split("-")[0];
	var row = gid.split("-")[1];
	var dom_arr = {
		"all": {"x": x_arr, "y": y_arr},
		"neg": n_xy,
		"pos": p_xy
	};
	for(dom in dom_arr){
		var cor_class = ["correl", col, dom, row].join("-");
		var d = dom_arr[dom];
		var correl = sampleCorrelation(d["x"], d["y"]).toFixed(4);
		set_color_correlation(cor_class, correl);
		$("."+cor_class).text(correl);
	}
}

function set_color_correlation(cor_class, correl){
	var r = parseInt(-231 * correl + 152);
	var g = parseInt(149 * correl + 126);
	var b = parseInt(36 * correl + 68);
	var color = "rgb("+r+", "+g+", "+b+")";
	var font_weight = parseInt((3062 * correl * correl + 199 * correl + 350)/100)*100;
	$("."+cor_class).css("color", color);
	$("."+cor_class).css("font-weight", font_weight);
}

function remove_hc_label(){
	$("text").map(function(){
		if($(this).text() == "Highcharts.com"){
			$(this).css("display", "none");
		}
	});
}

function get_graph_of_domain(x_arr, y_arr, sgn){
	r_xy = {"x": [], "y": []};
	if(sgn == "+"){
		for(var idx = 0; idx < x_arr.length; idx++){
			if(x_arr[idx] >= 0){
				r_xy["x"].push(x_arr[idx]);
				r_xy["y"].push(y_arr[idx]);
			}
		}
	} else {
		for(var idx = 0; idx < x_arr.length; idx++){
			if(x_arr[idx] <= 0){
				r_xy["x"].push(x_arr[idx]);
				r_xy["y"].push(y_arr[idx]);
			}
		}
	}
	return r_xy;
}

var fep_raw_nodes = {{fep_nodes|safe}};
var fep_raw_edges = {{fep_edges|safe}};
var sep_raw_nodes = {{sep_nodes|safe}};
var sep_raw_edges = {{sep_edges|safe}};
var v_raw_nodes = {{v_nodes|safe}};
var v_raw_edges = {{v_edges|safe}};
var lwj_raw_nodes = {{lwj_nodes|safe}};
var lwj_raw_edges = {{lwj_edges|safe}};
var cb_raw_nodes = {{cb_nodes|safe}};
var cb_raw_edges = {{cb_edges|safe}};

var n_list = {
	"fep-network": {"nodes": fep_raw_nodes, "edges": fep_raw_edges},
	"sep-network": {"nodes": sep_raw_nodes, "edges": sep_raw_edges},
	"v-network": {"nodes": v_raw_nodes, "edges": v_raw_edges},
	"lwj-network": {"nodes": lwj_raw_nodes, "edges": lwj_raw_edges},
	"cb-network": {"nodes": cb_raw_nodes, "edges": cb_raw_edges},
}
var nobj_list = {}

var w_hash = {{w_hash|safe}}

$(document).ready(function(){
	console.log(w_hash);
	make_square();
	resize_placeholder();
	draw_all_graph();	
	setTimeout(function(){
	//	draw_all_network();
	}, 750)
});

$(window).resize(function(){
	make_square();
	resize_placeholder();
});

$(".rel-btn").click(function(){
	var $color = $(this).attr("id");
	new_fep_network = draw_network("fep-network", fep_raw_nodes, fep_raw_edges, $color);	
	new_sep_network = draw_network("sep-network", sep_raw_nodes, sep_raw_edges, $color);	
	nobj_list["fep-network"] = new_fep_network;
	nobj_list["sep-network"] = new_sep_network;
});
</script>

<script src="{% static "js/stat.js" %}"></script>
{% endblock %}
