{% extends "base.html" %}

{% block content %}
<style>
	.svg-icon.github {
		background-image: url(https://assets-cdn.github.com/favicon.ico);
	}
	.svg-icon {
		width: 32px;
		height: 32px;
		display: inline-block;
	}
	.btn {
		padding: 0px 10px;
	}
</style>

<div class="container center">
	<div style="margin-top:40px;" class="row">
		<h5 class="grey-text text-darken-3">
			Welcome to Prototype World!
		</h5>
	</div>
	<div class="row">
		<table class="col l6 offset-l3 m8 offset-m2 s12 centered bordered highlight">
			<tbody>
				<tr>
					<td>1st</td>
					<td><a href="/firstexp/home" class="waves-effect waves-light btn">Home</a></td>
					<td><a href="/firstexp/start" class="waves-effect waves-light btn">Start</a></td>
					<td><a href="/firstexp/vis" class="waves-effect waves-light btn">Result</a></td>
				</tr>
				<tr>
					<td>2nd</td>
					<td><a href="/secondexp/home" class="waves-effect waves-light btn">Home</a></td>
					<td><a href="/secondexp/start" class="waves-effect waves-light btn">Start</a></td>
					<td><a href="/secondexp/vis" class="waves-effect waves-light btn">Result</a></td>
				</tr>
				<tr>
					<td>3rd</td>
					<td></td>
					<td><i class="teal-text material-icons">not_interested</i></td>
					<td></td>
				</tr>
				<tr>
					<td>Analysis</td>
					<td></td>
					<td><a href="/analyze" class="waves-effect waves-light btn">Result</a></td>
					<td></td>
				</tr>
				<tr>
					<td>Reference</td>
					<td></td>
					<td>
						<a class='dropdown-button btn' href='#' data-activates='dropdown-ref'>Drop_me!</a>
						<ul id='dropdown-ref' class='dropdown-content'>
							<li>
								<a href="/analyze/vis/vote" class="tooltipped" data-position="right" data-tooltip="Assembly Vote Result">19th</a>
							</li>
							<li>
								<a href="/analyze/vis/lwj" class="tooltipped" data-position="right" data-tooltip="Assembly's features (By Prof Lee)">20th</a>
							</li>
							<li>
								<a href="/analyze/vis/cobill" class="tooltipped" data-position="right" data-tooltip="Assembly Cosponsorship">20th</a>
							</li>
						</ul>
					</td>
					<td></td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="row">
		<div>
			<p class="teal-text">__Next__</p>
		</div>
		<div class="col l2 offset-l5 m2 offset-m5 s6 offset-s3 progress">
			<div class="indeterminate"></div>
		</div>
	</div>
	<div class="row">
		<a href="https://github.com/todoaskit/prexp-priendship"><i class="svg-icon github"></i></a>
	</div>
	<div class="row">
	</div>
<div>

{% endblock %}
