{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css" />

<style type="text/css">
#mynetwork {
	width: 1000px;
	height: 1000px;
	border: 1px solid lightgray;
}
</style>

<div id="mynetwork"></div>

<script>

var raw_nodes = {{nodes|safe}};
var raw_edges = {{edges|safe}};

var nodes = new vis.DataSet(raw_nodes);
var edges = new vis.DataSet(raw_edges);

var container = document.getElementById('mynetwork');
var data = {
	nodes: nodes,
	edges: edges
};

var options = {};
var network = new vis.Network(container, data, options);

</script>
{% endblock %}
