{% extends "base.html" %}

{% block content %}
<style>
.click {
	cursor: pointer;
}
.click-title {
	font-size: 3rem!important;
	display: none;
}
.card-list{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-emt{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
</style>
<div class="container">

	<div class="row">
		<div style="margin-top:10px;" class="col s12">
			<h5 class="left grey-text text-darken-3">Q. 가장 친하다고 생각하는 2명을 골라주세요</h3>			
		</div>
		<div class="right">
			<p class="grey-text">카드 크기가 개성이 넘치지만, 나중에 해결하겠습니다.</p>
		</div>
	</div>
	<div class="row card-list">
	{% for p in rp_list %}
		{% if forloop.counter == 1 or forloop.counter == 4 %}<div class="col m2 offset-m3 s4 card-emt asdf">
		{% else %}<div class="col m2 s4 card-emt">{% endif %}
			<div id="p{{forloop.counter}}" class="click card">
				<div class="card-image">
					<img class="p-img" src="{{p.photo}}">
					<span class="click-title p{{forloop.counter}}-title card-title"><i class="material-icons">check_circle</i></span>
				</div>
				<div class="center card-content">
					{{p.name}}
				</div>			
			</div>
		</div>
	{% endfor %}
	</div>
</div>
<form id="log-submit" method="POST">
	{% csrf_token %}
	<input type="hidden" name="shown_p" value="tbd">
	<input type="hidden" name="select_p" value="tbd">
</form>
<script>

var clicked_list = [];


$(".click").click(function(){
	$id = $(this).attr("id");
	if(clicked_list.indexOf($id) == -1){
		clicked_list.push($id);
	} else {
		clicked_list.splice(clicked_list.indexOf($id), 1);
	}

	var class_select = "."+$id+"-title";
	$(class_select).toggle("slow");
	console.log(clicked_list);

	if(clicked_list.length == 2){
		
		$(".card").removeClass("click");
		$("#log-submit").submit();
		for(var idx=0; idx<2; idx++){
			$("#"+clicked_list[idx]).slideUp("slow");
		}

	}

});


</script>


<script>
{% for p in rp_list %}
console.log("{{p.name}}");
{% endfor %}

</script>

{% endblock %}
